.attribution {
    font-size: 11px;
    text-align: center;
    padding: 5px;
    color: $neutral_lvl_1; 
    position: fixed;
    bottom: 10px;   
}
.attribution a {
    color: $neutral_lvl_1;
    font-size: 13px;
}
.attribution a span{
    display: inline-block;
    position: relative;
    padding: 3px 5px;
    z-index: 10;       
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: skewX(-15deg);
        background-color: lighten($primary_neon, 15%);        
        top: 0;
        left: 0;
        z-index: -10;
    }
}