
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
// ----- Font family-----
$ffamily_primary: 'Manrope', sans-serif;;

// ----- Font size-----
$fsize_primary: 28px;

// Colors
$primary_light: hsl(193, 38%, 86%);
$primary_neon: hsl(150, 100%, 66%);

$neutral_lvl_1: hsl(217, 19%, 38%);
$neutral_lvl_2: hsl(217, 19%, 24%);
$neutral_lvl_3: hsl(218, 23%, 16%);

